<div class="container">
  <div class="row">
    <div class="col-md-4 col-sm-6">
      <a href="https://www.example.com/watch-video" class="menu-link">
        <div class="menu-item gradient1">
          <h3>Watch a Video</h3>
        </div>
      </a>
    </div>
    <div class="col-md-4 col-sm-6">
      <a href="https://www.example.com/play-game" class="menu-link">
        <div class="menu-item gradient2">
          <h3>Play a Game</h3>
        </div>
      </a>
    </div>
    <div class="col-md-4 col-sm-6">
      <a href="https://www.example.com/request-video" class="menu-link">
        <div class="menu-item gradient3">
          <h3>Request a Video</h3>
        </div>
      </a>
    </div>
  </div>
</div>
