
<div class="container">
  <div class="row">
    <div class="col-md-4 col-sm-6">
      <!--put a random video to be watched (click)="watch()" -->
      <a  class="menu-link">
        <!-- route to watch -->
        <div class="menu-item gradient1">
          <h3>Watch a Video</h3>
        </div>
      </a>
    </div>
    <div class="col-md-4 col-sm-6">
      <a href="https://www.example.com/play-game" class="menu-link">
        <div class="menu-item gradient2">
          <h3>Play a Game</h3>
        </div>
      </a>
    </div>
    <div class="col-md-4 col-sm-6">
      <a href="https://www.example.com/request-video" class="menu-link">
        <div class="menu-item gradient3">
          <h3>Request a Video</h3>
        </div>
      </a>
    </div>
  </div>


  <div>

    <div class="container mt-5">
      <div class="card">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link" (click)="showTab('new-tasks')" [class.active]="activeTab === 'new-tasks'">New Tasks</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="showTab('completed-tasks')" [class.active]="activeTab === 'completed-tasks'">Completed Tasks</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="showTab('points')" [class.active]="activeTab === 'points'">Points</a>
            </li>
          </ul>
        </div>
        <div class="card-body container centered">
          <div *ngIf="activeTab === 'new-tasks'">
            <!-- Content for New Tasks tab -->
            <div class="container mt-5">
              <div class="row">
                <div class="col-md-12" *ngFor="let item of items">
                 <!-- pass specific video url "item.link" -->
                  <a (click)="watch(item)" style="text-decoration: none; color: rgb(1, 1, 27);">
                    <div class="card mb-3" >
                    <div class="card-body itemslist" >
                      <h5 class="card-title">{{ item.title }}</h5>
                      <p class="card-text">{{ item.content }}</p>
                      <span style="color: white;"> Watch Now to earn !</span>
                      <a href="#" class="card-link float-end"><img src="https://www.logo.wine/a/logo/YouTube/YouTube-Logo.wine.svg" height="100px" width="100px" alt="YoutubeIcon"></a>
                    </div>
                  </div>
                </a>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="activeTab === 'completed-tasks'">
            <!-- Content for Completed Tasks tab -->
            <div class="container mt-5">
              <div class="row">
                <div class="col-md-12" *ngFor="let item of itemd">
                  <div class="card mb-3">
                    <div class="card-body "  >
                      <h5 class="card-title">{{ item.title }}</h5>
                      <p class="card-text">{{ item.content }}</p>
                      <!-- pass specific video url "item.link" -->
                      <a (click)="watch(item)" class="card-link" >Watch Now</a>
                      <a href="#" class="card-link float-end"><img src="https://www.logo.wine/a/logo/YouTube/YouTube-Logo.wine.svg" height="100px" width="100px" alt="YoutubeIcon"></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="activeTab === 'points'">
            <!-- Content for Points tab -->
            <div class="container centered">
              <div class="row">
                <div class="col-md-12">
                  <div class="card">
                    <div class="card-body text-center">
                      <div class=" mb-12" style="color:red"><h1> 40 </h1></div>
                      <div class="row">
                    
                      </div>
                      <p class="card-text mt-3">Accumulated Points.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    


</div>
