<div class="row landing">
  <div class="col-md-6">
    <div>
      <h3 style="font-weight: bold">Do Tasks, Play Games,</h3>
      <h3 style="font-weight: bold">Earn Money and Win Prize</h3>
      <p style="font-size: 24px">
        Welcome to a world where each moment is a chance for something extraordinary. With boundless creativity and endless possibilities,
        we invite you to join us on an exhilarating journey. Together, we're redefining the ordinary into the extraordinary, celebrating
        innovation, and embracing the limitless potential of tomorrow
      </p>
      <button style="text-transform: capitalize" class="btn btn-danger" (click)="login()">Start Earning</button>
    </div>
  </div>

  <div class="col-md-6">
    <span class="hipster img-fluid rounded"></span>
  </div>
  <div>
    <h1 style="text-align: center">How It Works</h1>
  </div>
</div>
