<div class="row landing">
  <div class="col-md-6">
    <div>
      <h3 style="font-weight: bold">Do Tasks, Play Games,</h3>
      <h3 style="font-weight: bold">Earn Money and Win Prize</h3>
      <p style="font-size: 24px">
        Welcome to a world where each moment is a chance for something extraordinary. With boundless creativity and endless possibilities,
        we invite you to join us on an exhilarating journey. Together, we're redefining the ordinary into the extraordinary, celebrating
        innovation, and embracing the limitless potential of tomorrow
      </p>
      <button style="text-transform: capitalize" class="btn btn-danger" (click)="login()">Start Earning</button>
    </div>
  </div>

  <div class="col-md-6">
    <span class="hipster img-fluid rounded"></span>
  </div>
  <div>
    <h1 style="text-align: center"><span style="border-bottom: 3px solid black; padding-bottom: 5px">How It Works</span></h1>
  </div>

  <div class="row">
    <div class="col-md-4">
      <img
        src="../../content/images/login.jpg"
        style="display: inline-block; background-size: contain"
        height="400px"
        width="400px"
        alt="Login Illustration"
      />
    </div>
    <div class="col-md-8" style="padding-top: 40px">
      <h4 style="font-weight: bold">Step 1: Sign-up Easily</h4>
      <p>
        Get started by creating your Prudent Rewards account. It's quick and easy! Sign up to unlock a world of fantastic video content and
        exciting games on our platform.
      </p>
      <button style="text-transform: capitalize" class="btn btn-danger" (click)="signup()">Sign up</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <h4 style="font-weight: bold">Step 2: Accumulate More Points</h4>
      <p>
        The more you watch and play, the more points you earn. Your entertainment activities now bring you rewards, making it even more fun
        to enjoy the content you love.
      </p>
    </div>
    <div class="col-md-4" style="padding-top: 40px">
      <img
        src="../../content/images/earnmore.jpg"
        style="display: inline-block; background-size: contain"
        height="300px"
        width="300px"
        alt="Login Illustration"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <img
        src="../../content/images/winprizes.jpg"
        style="display: inline-block; background-size: contain"
        height="300px"
        width="400px"
        alt="Login Illustration"
      />
    </div>
    <div class="col-md-8" style="padding-top: 40px">
      <h4 style="font-weight: bold">Step 3: Explore Your Rewards</h4>
      <p>
        Visit our Awards page to discover special gift offers and vouchers tailored to your earned points. It's our way of saying thank you
        for being a part of our community.
      </p>
    </div>
    <div>
      <h1 style="text-align: center"><span style="border-bottom: 3px solid black; padding-bottom: 5px">Prizes & Awards</span></h1>
    </div>
  </div>
</div>
